main-color = #e6865a;

html, body {
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
body {
  background-color: lighten(main-color, 90%);
  height: 100%;

  h1 {
    color: darken(main-color, 80%);
    display: block;
    font-family: monaco;
    font-size: 44px;
    min-height: 100%;
    text-align: center;
    margin: 200px auto 0;

    span {
      display: block;
      font-size: 1.6em;
    }
  }
}
